/*_grid.scss*/

/*	DEFAULT SETTINGS:
        MOBILE: 600px & below
        TABLET: 600px - 900px
        DSKTOP: 900px & up
*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



@mixin bp($bp, $max: min-width) {
    $em: $bp/16;
    @media(#{$max}: #{$em}em) {
        @content;
    }
}


@function em($target, $context: 16) {
    @return ($target / $context) * 1rem;
}

/***** GRID *****/
.container {

    width:100%; /* CHANGE TO PX SIZE IF NOT RESPONSIVE */
    margin:0 auto;
}

.listwrapper {
    margin: 0 auto;
    max-width: 1000px;
    
}

.innerwrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.wrapper {
    margin:0 auto;
    max-width:1000px; /* DELETE FOR FULL WIDTH SITE */
    
}
.mainwrapper {
    margin:0 auto;
    max-width:1400px; /* DELETE FOR FULL WIDTH SITE */

}

.med-wrapper {
    margin:0 auto;	
    width: 100%;
    max-width: 1400px;    
    
}


.small-wrapper {
    margin:0 auto;	
    width: 100%;
    max-width: 1000px;    
    
}

.navwrapper {
    	
    width: 100%;
    max-width: $standard;    
    
}

.fullwrapper {
    margin:0 auto;	
    width: 100%;
}



 .nofloat {
    float:none;
}




.column{
    float:left;
    padding:.6em 1em;
    }

    .full {
    width:100%;
    }
    .twothirds {
        width:66.666666%;
    }
    .threefourths {
        width:75%;
    }
    .fourfifths {
        width:100%;
    }
    .fivesixths {
        width:83.333333%;
    }
    .threequarter-inner {
            width: 100%;
            
            @include breakpoint(large) {
                
            }
              @include breakpoint(between) {
                
            }
            @include breakpoint(medium) {
               
            }
            @include breakpoint(small) {
               padding: 1em;
            }
    }
    .half {
        width: 50%;
        

        @include breakpoint(medium) {
            width: 100%;
            
        }
    }
    .third {
        width:33.333333%;
    }
    .fourth {
        width:25%;
    }
    .fifth {
        width:20%;
    }
    .sixth {
        width:16.666666%;
    }
    .nav {
        width: 12%;
    }
    
    .side-nav {
        width: 24.7%;
        
    }





/***** TOOLS *****/
.center {
    float:none;
    margin:auto;
}
.nospace {
    padding:0 !important;
    margin:0 !important;
}
.flowopposite {
    float:right;
}
.nopadding {
    padding:0 !important;
}
.clearall {
    clear:both;
}


/****** screen sizes *****/

.column {
    
}

.hide-mobile {
         @include breakpoint(medium) {
                       display: none;
                    }
           }






