/*_variables.scss */

/* Body Text Styles */

$base-font-size: 16px;
$base-font-family:  'Roboto', sans-serif;
$title-font: 'Orbitron', sans-serif;
$base-font-weight: 200;
$text-color: #727272;
$homepage-font: 1.125rem; /* 18px */
$large-font: 1.5rem; /* 30px */
$mid-font: 1.5rem; /* 24px */
$title: 2.5rem; /* 40px */
$letter-space: 1rem;
$font-weight--medium: 400;
$font-weight--light: 400;
$bf: 16;

// colors

$color-1: #aebcb9; // Tower Gray
$color-2: #0096a7; // Bondi Blue
$color-3: #0d0d0d; // Cod Gray

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

/* Main colors */

$color-primary: #727272;
$color-secondary: #3d3d3d;
$color-link: #6698f2;

/* main base */
$soltech: #91c847;
$staffing: #6698f2;

/* services */
$color-red: #fb6565;
$color-orange: #fea61c;
$color-purple: #d777fd;
$color-blue: #4a90d2;
$color-green: #8fba50;

/* screen sizes */
$small: 37.5rem; /* 600px */
$tablet:  48rem; /* 768px */
$mid: 64rem; /* 1024px */
$standard:  75rem; /* 1200px */
$large: 93.75rem; /* 1500px */